**List Comprehension**

In [1]:
# 1.Write a list comprehension to generate squares of numbers from 1 to 10.
lc_square = [x*x for x in range(1,11)]
print(lc_square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
#2. Create a list of even numbers between 1 and 50 using list comprehension.
lc_even_odd = [x for x in range (1,51) if x%2==0 ]
print(lc_even_odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [3]:
# 3. Convert all strings in a list to uppercase using list comprehension.
li = ['Hello','all']
string_upper = [x.upper()  for x in li]
print(string_upper)

['HELLO', 'ALL']

In [4]:
# 4. Given a list of integers, create a new list that contains only the positive numbers.
li= [-2,2,5,8,-9]
newlist_lc = [x for x in li if x>0]
print(newlist_lc)

[2, 5, 8]

In [5]:
# 5. Create a list of tuples (num, num^2) for numbers 1 to 5.

tuple_lc = [ (x,x**2) for x in range(1,6)]
print(tuple_lc)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [6]:
# 6. Extract all vowels from a given string using list comprehension.

st = 'hello'
lc_vowel = [ x for x in st if x in ('aeiou')]
print(lc_vowel)

['e', 'o']

In [7]:
# 7. Flatten a 2D list using list comprehension.
nums = [[1, 2], [3, 4]]

flat = [n for sub in nums for n in sub]
print(flat)

[1, 2, 3, 4]

In [8]:
# 8. Replace all negative numbers in a list with 0 using list comprehension.
li = [ -1,2,-3,-7,9]
replace_lc = [0 if n < 0 else n for n in li]
print(replace_lc)

[0, 2, 0, 0, 9]

In [9]:
# 9. Given a list of words, create a list of lengths of each word. 

li = ['Hello','all']
len_lc = [ len(sub) for sub in li]
print(len_lc)

[5, 3]

In [10]:
# 10. Filter out words that start with the letter 'A' or 'a'. 
li = ['apple', 'lemon', 'app']
lc_a = [x for x in li if x.lower().startswith('a')]  #here x.lower(0 is convert every letter in small so A and a are treated the same)
print(lc_a)

['apple', 'app']

In [11]:
# 11. From a list of numbers, generate a list of “even” or “odd” strings using list comprehension.
# (Like → [“even”, “odd”, “odd”, “even”…])
li = [2,3,4,5,6,7,8]
stri_lc = ['even' if x%2 == 0 else 'odd' for x in li ]
print(stri_lc)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [12]:
# 12. Create a list of numbers divisible by both 3 and 5 in range 1–100.

li = [ x for x in range(1,101) if x%3 ==0 and x%5 == 0]
print(li)

[15, 30, 45, 60, 75, 90]

In [13]:
# 13. Write a nested list comprehension to generate a multiplication table  for 1–5.
table_lc = [[i*j for j in range(1,6)] for i in range (1,6)]
print(table_lc) 

a = 1
b = 'hello'
a

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]]

1

In [14]:
# 14. Convert a dictionary’s keys into a list using list comprehension.
dic = {'a' : 1 , 'b' : 2 } 
newli = [ key for key in dic ] 
print(newli)

['a', 'b']

In [15]:
# 15. Extract numeric digits from a string using list comprehension.
st = 'sldk324f5'
newli = [digit for digit in st if digit.isdigit()]
print(newli)

['3', '2', '4', '5']

In [16]:
# 16. Use list comprehension to remove all spaces from a string.
st = 'hello all myself sallu'
result = ''.join([ch for ch in st if ch != ' ']) 
result

'helloallmyselfsallu'

In [17]:
# 17. Create a list of characters that appear more than once in a string.

st = 'aabbcc'
result = [ s for s in set(st) if st.count(s) > 1 ]
result

['b', 'c', 'a']

In [18]:
# 18. From a list of sentences, generate a list of all words (split using list comprehension).
li = [ 'hello world how is the universe' ]
res = [x for sub in li for x in sub.split() ] 
res

['hello', 'world', 'how', 'is', 'the', 'universe']

In [19]:
# 19. Create a list of unique elements from a list using list comprehension + condition.
li = [ 2, 4 , 3, 2, 4 ]
res = [x for x in set(li)]
res

[2, 3, 4]

In [20]:
# 20. Generate all pairs (x, y) where x is from list A and y is from list B 
# (cartesian product).
A = [1,2,3]
B = [4,5,6]
lc_res = [(x,y) for x in A for y in B ]
lc_res

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

Lambda Questions

In [23]:
# 1. Write a lambda to add two numbers.
res = lambda x,y:x+y 
res(2,3)

5

In [25]:
# 2. Create a lambda to check if a number is even.
res = lambda  x:x%2==0
res(6)

True

In [32]:
# 3. Write a lambda to get the last character of a string.
str1 = 'abdfkdag'
res1 = lambda s:s[-1::]
res1(str1)

'g'

In [ ]:
# 4. Use lambda with map() to square every number in a list.
#map is the function to apply function to each iterables 
list1 = [10,20,30,40]
squared = list(map(lambda x:x**2,list1))
squared

[100, 400, 900, 1600]

In [ ]:
# 5. Use lambda with filter() to get only odd numbers from a list.
import random 
list1 = [20,21,22,23,24,25,26,27]
odd_numbers = list(filter(lambda x: x % 2 != 0, list1))

print(odd_numbers)

[21, 23, 25, 27]

In [ ]:
# 6. Use sorted() + lambda to sort a list of tuples by second value.

In [40]:
# 7. Create a lambda to check if a string is a palindrome.
str1 = 'madam'
res1 = lambda x: x == x[::-1]
res1(str1)

True

In [42]:
# 8. Use lambda to find maximum of three numbers.
res1 = lambda a,b,c: a if (a>=b and a>=c) else (b if b>c else c)
res1(12,48,22)

48

In [43]:
# 9. Write a lambda to reverse a string.
str1 = 'hello'
reverse_string = lambda x:x[::-1]
reverse_string(str1)

'olleh'

In [46]:
# 10. Use lambda with map() to convert a list of strings to integers.

list_str = ['11','22','33']
res1 = list(map(lambda x : int(x),list_str))
res1

[11, 22, 33]

In [47]:
# 11. Use lambda with filter() to remove empty strings from a list.
list_str = ["hello","","myself","sallu"]
res1= list(filter(lambda x:x!="" , list_str))
res1

['hello', 'myself', 'sallu']

In [ ]:
# 12. Use lambda to compute factorial using reduce() (yeah, that one-liner 
# madness).

In [ ]:
# 13. Write a lambda that returns the larger of two numbers.

res = lambda x,y :x if x>y else y  
res(4,9)

9

In [51]:
# 14. Use lambda to check if number is divisible by 5.
res1 = lambda x : x%5 == 0 
res1(67)

False

In [53]:
# 15. Use lambda + map() to add 10 to each element of a list.
li = [10,20,30,40,50]
res1 = list(map(lambda x:x+10,li))
res1

[20, 30, 40, 50, 60]

In [54]:
# 16. Use lambda to sort a list of dictionaries by a key (like "age").
dict1 = [
    {"name": "Sallu", "age": 25},
    {"name": "Sejal", "age": 22},
    {"name": "Sammy", "age": 30}
]

sorted_li_di = sorted(dict1, key=lambda x: x["age"])
sorted_li_di

[{'name': 'Sejal', 'age': 22},
 {'name': 'Sallu', 'age': 25},
 {'name': 'Sammy', 'age': 30}]

In [56]:
# 17. Write a lambda that returns True if a character is a vowel.
charac = 'g'
res1 = lambda ch:ch in 'aeiou'
res1(charac)

False

In [57]:
# 18. Use lambda + filter to extract words of length > 5 from a list.
li_str = ["hello","myself","sallu"]

result = list(filter(lambda x: len(x) > 5, li_str))
print(result)

['myself']

In [59]:
# 19. Use lambda to calculate the area of a circle (πr²).

import math
area_circle = lambda r: math.pi * r**2
print(area_circle(11))

380.132711084365

In [ ]:
# 20. Write a lambda to remove duplicates from a list using filter + set.

In [ ]:
# 21. Use lambda with reduce() to find the product of all numbers in a list.

In [ ]:
# 22. Write a lambda that returns absolute value of a number.

In [ ]:
# 23. Use lambda to sort a list of strings by their length.

In [ ]:
# 24. Use lambda to get only uppercase characters from a string.

In [ ]:
# 25. Write a lambda that returns the square if number is even, cube if odd.

In [ ]:
# 26. Use lambda with map to convert Celsius to Fahrenheit.

In [ ]:
# 27. Write a lambda to check if two strings are anagrams.

In [ ]:
# 28. Use lambda to extract only numeric values from a mixed list.

In [ ]:
# 29. Use lambda inside any() to check if any list element is negative.

In [ ]:
# 30. Use lambda to generate a function that multiplies any number by n