In [ ]:
# 1. If name = ''' Hi How are you?
# Starterd learning python.
# It's really interesting.''' Then what is the output of following code

In [1]:
name = ''' Hi How are you? Starterd learning python. It's really interesting.'''

In [2]:
print(name[:]) # Hi How are you? Starterd learning python.It's really interesting.

 Hi How are you? Starterd learning python. It's really interesting.

In [3]:
print(name[-10:-5]) #teres

teres

In [ ]:
print(name[3:12]) #' How are '

 How are

In [ ]:
print(name[12:3]) #if start index > end index it returns empty string

In [ ]:
print(name[5:6]) #o

In [ ]:
print(name[-4:-12]) #if start index > end index it returns empty string

In [ ]:
print(name[::2]) # iHwaeyu tredlann yhn tsral neetn.

In [ ]:
print(name[::-2]) #.nteen larst nhy nnaldert uyeawHi

In [2]:
L1 = ['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [3]:
print(L1[:]) #['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [4]:
print(L1[::3]) # ['a', 30, 300, 'major']

['a', 30, 300, 'major']

In [5]:
print(L1[::-2]) #['major', 400,100,30,'b']

['major', 400, 100, 30, 'b']

In [6]:
# d. How to extract value “Happy” based on index and negative index
print(L1.index('Happy'))
print(L1[8])
print(L1[-2])

8
Happy
Happy

In [9]:
# e. How to check type of data in list at 4th position
type(L1[3]) #int

int

In [ ]:
# f. Extract values for 100, 300, 400
print(L1.index(100))
print(L1.index(300))
print(L1.index(400))

In [34]:
## 3. If l2 =[1,2,3,5,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”] then what is the output of following

L2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, 'Success']

In [35]:
print(L2[4])  # ['a', 'b', 'work hard']

['a', 'b', 'work hard']

In [36]:
print(L2[1:5])   #[2, 3, 5, ['a', 'b', 'work hard']]

[2, 3, 5, ['a', 'b', 'work hard']]

In [37]:
print(L2[7])     ##['Success']

Success

In [38]:
print(L2[7][2])  #c

c

In [39]:
print(L2[7][2:]) #ccess

ccess

In [40]:
print(L2[ : 3])  #[1, 2, 3]

[1, 2, 3]

In [41]:
print(L2[3:])  # [5, ['a', 'b', 'work hard'], 100, 200, 'Success']

[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [42]:
# 4. From the above l2 value ‘b’ must be changed to ‘BEE’.
l2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, 'Success']
l2[4][1] = 'BEE'
print(l2)

[1, 2, 3, 5, ['a', 'BEE', 'work hard'], 100, 200, 'Success']

In [43]:
# # 5. From l2 “BEE” has to discard.
l2[4].remove('BEE')
# # or
# # l2[4].pop(1) #methd 2
print(l2)

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success']

In [44]:
# # 6. In l2 add a dictionary at the end {'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']}
l2.append({'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']})
print(l2)

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success', {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [45]:
# # 7. From l2 extract insect information.
print(l2[8]['insect'])

['bee', 'moth']

In [49]:
# # 8. Create a dictionary d1 = {‘a’:10, ‘b’:20, ‘c’ : 30}
# # and add the d1 at 2nd position of l2

d1 = {'a':10, 'b':20, 'c': 30}
d1
l2

[1,
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [50]:
l2.insert(1,d1)
print(l2)

[1, {'a': 10, 'b': 20, 'c': 30}, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success', {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [52]:
# 9. Based on new l2 created here extract the value 10 from l2 dictionary.
print(l2[1]['a'])

10

In [53]:
# 10. If l2 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],
# 100 , 200, 'Success', (200,300, 'Hundreds')] then what is the output of following

L2 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, 'Success', (200,300, 'Hundreds')]

In [54]:
print(L2)

[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100, 200, 'Success', (200, 300, 'Hundreds')]

In [55]:
print(L2[4][2]) # 50

50

In [56]:
print(L2[5][:]) # 'Python'

Python

In [58]:
print(L2[2][:])  #3 #TypeError: 'int' object is not subscriptable

TypeError: 'int' object is not subscriptable

In [59]:
print(L2[1:5]) #[2,3,5,(90, 40, 50, 10)]

[2, 3, 5, (90, 40, 50, 10)]

In [60]:
print(L2[5])  # 'Python'

Python

In [61]:
print(L2[5][3:-1]) # ho

ho

In [62]:
print(L2[-1]) #(200, 300, 'Hundreds')

(200, 300, 'Hundreds')

In [63]:
print(L2[-4: -3]) #[100]

[100]

In [ ]:
print(L2[-4:-10]) #[]

In [ ]:
print(L2[7][2]) #'work hard'

In [ ]:
print(L2[-7][2:]) #thon

In [ ]:
print(L2[ :- 3]) #[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]

In [ ]:
print(L2[-3:]) #[200, 'Success', (200, 300, 'Hundreds')]

In [80]:
# IF-elif-else:
# 11. Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails
# If marks are more than 80 output must be “You got distinction”
# For marks more than 60 output must be “You got First class”
# Marks more than 40 will display “You got second class”
# Marks more than or equal to 35 “PASS” Otherwise Fail

# marks = input("Enter marks :")
# def GenerateGrades(marks):
#       if (not marks.isalnum() or not marks.isalpha()) or marks.isdigit():
#         marks = float(marks)
#         if marks > 100 or marks<0 :
#           return "Enter proper marks"
#         elif marks > 80 :
#           return "Distinction"
#         elif marks > 70 :
#           return "First class"
#         elif marks > 50 :
#           return "second"
#         elif marks > 35 :
#           return "pass"
#         else:
#           return "fail"
#       else:
#         return "not valid percentage"

# print(marks_based_distinction(marks))

# or

# marks = input("Enter marks:")
# def GenerateGrades(marks):
#     if (not marks.isalpha and not marks.isalnum) or marks.isdigit():
#       marks = float(marks)
#       if marks > 100 or marks < 0 :
#           output=  "Enter proper marks"
#       elif marks > 80 :
#           output=  "Distinction"
#       elif marks > 70 :
#           output=  "First class"
#       elif marks > 50 :
#           output=  "second"
#       elif marks > 35 :
#           output=  "pass"
#       else:
#           output=  "fail"
#     else:
#         output=  "not valid percentage"
#     return output 
# print(GenerateGrades(marks))

# OR
# IF-elif-else:
# 11. Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails
# If marks are more than 80 output must be “You got distinction”
# For marks more than 60 output must be “You got First class”
# Marks more than 40 will display “You got second class”
# Marks more than or equal to 35 “PASS” Otherwise Fail

marks = input("Enter marks:")
def MarksDistinction(marks):
    try:   
        marks = float(marks)
        if marks > 100 or marks < 0:
            return "please enter proper marks "
        if marks > 80 :
            return "Distinction"
        elif marks > 60 :
            return "first class"
        elif marks > 40 :
            return "second class"
        elif marks > 35 :
            return "pass"
        else:
            return "fail"
    except ValueError:
        return "invalid marks"
    
MarksDistinction(marks)

'first class'

In [85]:
# # 12. Ask user to enter information about salary of the employee per year and rating received as A, B, C, D
# # If salary upto 5 lpa then increament based on ratings are A = 16% , B=12%, C= 10%, D=6%
# # If salary upto 10 lpa then increament based on ratings are A = 14% , B=10%, C= 8%, D=6%
# # If salary upto 15 lpa then increament based on ratings are A = 8% , B=6%, C= 4%, D = no increment
# # If salary upto 23 lpa then increament based on ratings are A = 7% , B=5%, C= 4%, D=no

# salary = int(input("Enter salary :"))
# rating = input("Enter rating(A,B,C,D):").upper()
# if salary.isdigit() and  rating.isalpha() and rating in ['A','B','C','D']:
#    salary = float(salary)
#    if salary <= 500000:
#     if rating == 'A':
#       salary = salary + (salary * 0.16)
#       print(salary)
#     elif rating == 'B':
#       salary = salary + (salary * 0.12)
#       print(salary)
#     elif rating == 'C':
#       salary = salary + (salary * 0.10)
#       print(salary)
#     elif rating == 'D':
#       salary = salary + (salary * 0.06)
#       print(salary)
#   elif salary <= 1000000:
#     if rating == 'A':
#       salary = salary + (salary * 0.14)
#       print(salary)
#     elif rating == 'B':
#       salary = salary + (salary * 0.10)
#       print(salary)
#     elif rating == 'C':
#       salary = salary + (salary * 0.08)
#       print(salary)
#     elif rating == 'D':
#       salary = salary + (salary * 0.06)
#       print(salary)

#   elif salary <= 1500000:
#     if rating == 'A':
#       salary = salary + (salary * 0.08)
#       print(salary)
#     elif rating == 'B':
#       salary = salary + (salary * 0.06)
#       print(salary)
#     elif rating == 'C':
#       salary = salary + (salary * 0.04)
#       print(salary)
#     elif rating == 'D':
#       print(salary)

#   elif salary <= 2300000:
#     if rating == 'A':
#       salary = salary + (salary * 0.07)
#       print(salary)
#     elif rating == 'B':
#       salary = salary + (salary * 0.05)
#       print(salary)
#     elif rating == 'C':
#       salary = salary + (salary * 0.04)
#       print(salary)
#     elif rating == 'D':
#       print(salary)
#   else:
#     print("not valid")



# salary = int(input("Enter salary :"))
# rating = input("Enter rating(A,B,C,D):").upper()
# def EmployeeIncrement(salary,rating):
#       if salary.isdigit() and rating.isalpha() and rating in ['A','B','C','D']:
#         salary = float(salary)
#         if salary <= 500000:
#           if rating == 'A':
#             salary = salary + (salary * 0.16)
#             return salary
#           elif rating == 'B':
#             salary = salary + (salary * 0.12)
#             return salary
#           elif rating == 'C':
#             salary = salary + (salary * 0.10)
#             return salary
#           elif rating == 'D':
#             salary = salary + (salary * 0.06)
#             return salary
#         elif salary <= 1000000:
#           if rating == 'A':
#             salary = salary + (salary * 0.14)
#             return salary
#           elif rating == 'B':
#             salary = salary + (salary * 0.10)
#             return salary
#           elif rating == 'C':
#             salary = salary + (salary * 0.08)
#             return salary
#           elif rating == 'D':
#             salary = salary + (salary * 0.06)
#             return salary

#         elif salary <= 1500000:
#           if rating == 'A':
#             salary = salary + (salary * 0.08)
#             return salary
#           elif rating == 'B':
#             salary = salary + (salary * 0.06)
#             return salary
#           elif rating == 'C':
#             salary = salary + (salary * 0.04)
#             return salary
#           elif rating == 'D':
#             return salary

#         elif salary <= 2300000:
#           if rating == 'A':
#             salary = salary + (salary * 0.07)
#             return salary
#           elif rating == 'B':
#             salary = salary + (salary * 0.05)
#             return salary
#           elif rating == 'C':
#             salary = salary + (salary * 0.04)
#             return salary
#           elif rating == 'D':
#             return salary
#         else:
#           return "not valid"
        

# print(EmployeeIncrement(salary,rating))


# salary = input("Enter salary :")
# rating = input("Enter rating(A,B,C,D):").upper()
# def EmployeeIncrement(salary,rating):
#       if salary.isdigit() and rating.isalpha() and rating in ['A','B','C','D']:
#         salary = float(salary)
#         if salary <= 500000:
#           if rating == 'A':
#             salary = salary + (salary * 0.16)
#             return salary
#           elif rating == 'B':
#             salary = salary + (salary * 0.12)
#             return salary
#           elif rating == 'C':
#             salary = salary + (salary * 0.10)
#             return salary
#           elif rating == 'D':
#             salary = salary + (salary * 0.06)
#             return salary
#         elif salary <= 1000000:
#           if rating == 'A':
#             salary = salary + (salary * 0.14)
#             return salary
#           elif rating == 'B':
#             salary = salary + (salary * 0.10)
#             return salary
#           elif rating == 'C':
#             salary = salary + (salary * 0.08)
#             return salary
#           elif rating == 'D':
#             salary = salary + (salary * 0.06)
#             return salary

#         elif salary <= 1500000:
#           if rating == 'A':
#             salary = salary + (salary * 0.08)
#             return salary
#           elif rating == 'B':
#             salary = salary + (salary * 0.06)
#             return salary
#           elif rating == 'C':
#             salary = salary + (salary * 0.04)
#             return salary
#           elif rating == 'D':
#             return salary

#         elif salary <= 2300000:
#           if rating == 'A':
#             salary = salary + (salary * 0.07)
#             return salary
#           elif rating == 'B':
#             salary = salary + (salary * 0.05)
#             return salary
#           elif rating == 'C':
#             salary = salary + (salary * 0.04)
#             return salary
#           elif rating == 'D':
#             return salary
#         else:
#           return "not valid"
# print(EmployeeIncrement(salary,rating))


salary = input("Enter salary :")
rating = input("Enter rating(A,B,C,D):").upper()
def EmployeeInc(salary,rating):
    try:
        salary = float(salary)
        if salary <= 500000:
          if rating == 'A':
            salary = salary + (salary * 0.16)
            return salary
          elif rating == 'B':
            salary = salary + (salary * 0.12)
            return salary
          elif rating == 'C':
            salary = salary + (salary * 0.10)
            return salary
          elif rating == 'D':
            salary = salary + (salary * 0.06)
            return salary
        elif salary <= 1000000:
          if rating == 'A':
            salary = salary + (salary * 0.14)
            return salary
          elif rating == 'B':
            salary = salary + (salary * 0.10)
            return salary
          elif rating == 'C':
            salary = salary + (salary * 0.08)
            return salary
          elif rating == 'D':
            salary = salary + (salary * 0.06)
            return salary

        elif salary <= 1500000:
          if rating == 'A':
            salary = salary + (salary * 0.08)
            return salary
          elif rating == 'B':
            salary = salary + (salary * 0.06)
            return salary
          elif rating == 'C':
            salary = salary + (salary * 0.04)
            return salary
          elif rating == 'D':
            return salary

        elif salary <= 2300000:
          if rating == 'A':
            salary = salary + (salary * 0.07)
            return salary
          elif rating == 'B':
            salary = salary + (salary * 0.05)
            return salary
          elif rating == 'C':
            salary = salary + (salary * 0.04)
            return salary
          elif rating == 'D':
            return salary
    except ValueError:
        return "ValueError : Salary must be numeric "
    except TypeError:
        return "TypeError :Invalid datatype"
        

print(EmployeeInc(salary,rating))

ValueError : Salary must be numeric

In [87]:
# 13. Ask user to opt for courses for master degree based on the following
# L1 = [“HR”, “Finance”, “Marketing”, “DS”]
# Based on above subject there are two different streams.For example- HR is having HR core and HR analytics 
# and Marketing is having core and Marketing analytics. 
# Analytics is the optional subject and having added extra fees. DS is not having analytics.
# If fees for L1 is 2 lakhs for each course core subject having the same fees but analytics subject having
# 10% extra on 2 lakhs.
# If student opts for hostel then 2 lakhs per year is added. For food monthly 2000 .
# Transportation charges 13000 per semester. Calculate the total annual cost based on selected service.
# User will enter values as subject, analytics(Y/N), Hostel (Y/N), food(How many months?), 
# Transportation(semester/annual)
L1 = ['HR', 'Finance','Marketing', 'DS']
# 2subject,analytics optional
l1_fees = 200000
analytics = l1_fees + (l1_fees*0.10)
hostel =  200000
food_perMonth = 2000
transportation_charge = 13000

subject = input("Enter your subject:")
analytics_opt = input("Enter if you want analytics or not(Y/N):").upper()
hostel_opt = input("Enter if you want hostel or not (Y/N):").upper()
food = int(input("Enter how many months? :"))
transportation = input("semester/annual").lower()

#course fees 
if subject in L1:
    if subject != 'DS' and analytics_opt == 'Y':
        course_fee = analytics
    else:
        course_fee = l1_fees 

    #hostel fees:
    if hostel_opt == 'Y':
        hostel_fee = hostel
    else:
        hostel_fee = 0

    #food fee
    food_fee = food * food_perMonth

    #transportation
    if transportation == 'semester':
        transportation_fee = transportation_charge * 2
    else:
        transportation_fee = transportation_charge
    
    #total_cost
    total_cost = course_fee + hostel_fee + food_fee + transportation_fee
    print("Total Cost:",total_cost)

else:
    print("invalid subject selected")

Total Cost: 458000.0

# 14. Digitalize the book allotment process for school. Charges are mentioned here in the given table:
| STANDARD | 1st-4th | 5th-8th | 9-10th | Notebook     | 100 pages | 200 pages |
| -------- | ------- | ------- | ------ | ------------ | --------- | --------- |
| BOOKS    |         |         |        |              |           |           |
| Hindi    | 60      | 100     | 150    | square       | 40        | 70        |
| Marathi  | 60      | 100     | 150    | 4lines       | 30        | 50        |
| English  | 80      | 100     | 150    | 2lines       | 30        | 50        |
| Science  | 90      | 120     | 200    | single lines | 60        | 100       |
| Maths    | 100     | 140     | 250    | A4 notebook  | 100       | 180       |

In [ ]:

standard_books = {
    '1st-4th': {'Hindi':60, 'Marathi':60,'English':80,'Science':90,'Maths':100},
    '5th-8th': {'Hindi':100,'Marathi':100,'English':100,'Science':120,'Maths':140},
    '9th-10th':{'Hindi':150,'Marathi':150,'English':200,'Science':200,'Maths':250}
}

notebooks = {
    'square':{'100pages':40,'200pages':70},
    '4lines':{'100pages':30,'200pages':50},
    '2lines':{'100pages':30,'200pages':50},
    'singlelines':{'100pages':60,'200pages':100},
    'A4notebook':{'100pages':100,'200pages':180}
}


book_orders = {}
total = 0
while True:

    book_or_notebook = input("\nDo you want book or notebook? (type 'done' to stop): ").lower()
    if book_or_notebook == 'done':
        break

# chose which class book 

    if book_or_notebook == 'book':

        stdbook = int(input("Enter which class book (1-10): "))

        if 1 <= stdbook <= 4:
            standard = '1st-4th'
        elif 5 <= stdbook <= 8:
            standard = '5th-8th'
        elif 9 <= stdbook <= 10:
            standard = '9th-10th'
        else:
            print("Invalid class")
            continue

        print("\nAvailable books for this class:\n")

        for b in standard_books[standard]:
            print(b, ":", standard_books[standard][b])

        while True:
            book = input("\n Enter book name (type 'done' to stop): ")

            if book.lower() == 'done':
                break

            if book in standard_books[standard]:
                qty = int(input("Enter quantity: "))
                price = standard_books[standard][book]
                amount = qty * price

                book_orders[book] = [qty, price, amount]
                total += amount

                print(book, "added successfully")
            else:
                print("Book not available")

#notebook part

    elif book_or_notebook == "notebook":

        print("\nAvailable notebook types:\n")
        for n in notebooks:
            print(n)

        notebooktype = input("\nEnter notebook type: ")
        pages = input("Enter pages (100pages / 200pages): ")

        if notebooktype in notebooks and pages in notebooks[notebooktype]:
            qty = int(input("Enter quantity: "))
            price = notebooks[notebooktype][pages]
            amount = qty * price

            book_orders[notebooktype] = [qty, price, amount]
            total += amount
            
        else:
            print("Invalid notebook choice")
            continue

    else:
        print("Invalid choice")
        continue


#generate total bill
print("\n" + "-"*50)
print("|{:^50}|".format("Books BILL"))
print("-"*50)

for item, details in book_orders.items():
    print("Item:", item)
    print("Quantity:", details[0])
    print("Price:", details[1])
    print("Amount:", details[2])
    print("-"*50)

print("TOTAL AMOUNT =", total)

# # type casting

In [ ]:
# # 17. Create a=100
a=100

In [ ]:
# ·Convert a to string
res = str(a)
print(res) #['1', '0', '0']

In [ ]:
# · Convert a to list
res = list(str(a)) #list() needs an iterable (string, list, tuple, etc.)
print(res) #['1', '0', '0']

In [ ]:
# · Convert a to tuple
res = tuple(str(a))
print(res) # ('1', '0', '0')

In [ ]:
# · Convert a to dict
res =dict([(1,a)])
print(res) #{1: 100}

In [ ]:
# · Convert a to set
res = set(a)
print(res)  #TypeError: 'int' object is not iterable

In [ ]:
# · Convert to float
res = float(a)
print(res) #100.0

In [ ]:
# 18. Create city = “Pune”
city = "Pune"

In [ ]:
## Convert to int
result = int(city)
print(result)
#error : ValueError: invalid literal for int() with base 10: 'Pune'

In [ ]:
# #· Convert float
result = float(city)
print(result) 
#error : ValueError: could not convert string to float: 'Pune'

In [ ]:
# · Convert list
result = list(city)
print(result) #['P', 'u', 'n', 'e']

In [ ]:
# · Convert tuple
result = tuple(city)
print(result) #('P', 'u', 'n', 'e')

In [ ]:
# · Convert dict
# result = dict(city)
# print(result) 
# #error : TypeError: cannot convert dictionary update sequence element #0 to a sequence
result = dict(enumerate(city))
print(result) #{0: 'P', 1: 'u', 2: 'n', 3: 'e'}

In [ ]:
# # · Convert set
result = set(city) 
print(result)  #output : {'u', 'P', 'e', 'n'}

In [ ]:
# # 19. Create a list as marks = [20,18,15,17,18]
li1 = [20,18,15,17,18]

In [ ]:
# # # · Convert to int
result = int(li1)
print(result) #error : TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [ ]:
# #  # · Convert float
res = float(li1)
print(res) #error : TypeError: float() argument must be a string or a number, not 'list'

In [ ]:
# # · Convert list
res = list(li1)
print(res)  #output : [20, 18, 15, 17, 18]

In [ ]:
# # · Convert tuple
res = tuple(li1)
print(res)  #output : (20, 18, 15, 17, 18)

In [ ]:
# # # · Convert dict
# res = dict(li1)
# print(res)  #error : TypeError: cannot convert dictionary update sequence element #0 to a sequence
res = dict(enumerate(li1))
print(res)  #output : {0: 20, 1: 18, 2: 15, 3: 17, 4: 18}

In [ ]:
# # · Convert set
res = set(li1)
print(res)  #output : {17, 18, 20, 15}

In [95]:
# # List operations

# # # 10. Create the empty list snames
snames = []

In [96]:
# # # # · Add value 20 in the list using append
snames.append(20)
print(snames)  # output: [20]

[20]

In [97]:
# # # # · Add value 30 in the list using extend
snames.extend(30)
print(snames) # TypeError: 'int' object is not iterable , only iterable objects like list,tuple,dict

TypeError: 'int' object is not iterable

In [99]:
snames.append(['x','y','z'])
snames

[20, ['x', 'y', 'z'], ['x', 'y', 'z']]

In [100]:
snames.extend('WORK')
snames

[20, ['x', 'y', 'z'], ['x', 'y', 'z'], 'W', 'O', 'R', 'K']

In [102]:
# # # · Create a new list combo having the values [1, ‘a’, ‘b’ ,2 , 3]
combo = [1, 'a', 'b',2,3]

In [103]:
# # # · Add sname to combo using addition operator
newli = snames + combo 
print(newli) #[20, ['a', 'b', 'c'], 'WORK', 1, 'a', 'b', 2, 3]

[20, ['x', 'y', 'z'], ['x', 'y', 'z'], 'W', 'O', 'R', 'K', 1, 'a', 'b', 2, 3]

In [104]:
# # # · Add combo to snames using append 
snames.append(combo)
print(snames) #[20, ['a', 'b', 'c'], 'WORK', [1, 'a', 'b', 2, 3]]

[20, ['x', 'y', 'z'], ['x', 'y', 'z'], 'W', 'O', 'R', 'K', [1, 'a', 'b', 2, 3]]

In [105]:
# # # · Add combo to snames using extend.
snames.extend(combo)
print(snames) #[20, ['a', 'b', 'c'], 'WORK', [1, 'a', 'b', 2, 3], 1, 'a', 'b', 2, 3]

[20, ['x', 'y', 'z'], ['x', 'y', 'z'], 'W', 'O', 'R', 'K', [1, 'a', 'b', 2, 3], 1, 'a', 'b', 2, 3]

In [ ]:
# # # 11. Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1
l1 = [1,2]
l3 = [3,4,5,6,7,8,9] 
l3.insert(3,l1) 
print(l3) #[3, 4, 5, [1, 2], 6, 7, 8, 9]

In [109]:
# # # 12. Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] if the data
# # #  is in integer or float then multiply with 5.
new_collection = []
Collection = [1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10 ]
for i in Collection:
    if type(i) in  [int,float]:
        res = i*5 
        new_collection.append(res)
    else:
        new_collection.append(i)
print(new_collection) #[5, 10, 15, ['a', 'b', 'c'], 500, 'Nisha', 102.5, 450.5]

[5, 10, 15, ['a', 'b', 'c'], 500, 'Nisha', 102.5, 450.5]

In [ ]:
# # # · From the collection delete the record for “Nisha”
Collection.remove("Nisha")
print(Collection) #[1, 2, 3, ['a', 'b', 'c'], 100, 20.5, 90.1]

In [ ]:
# # # · Find the location of 20.50
print(Collection.index(20.50) +1) #7

7

In [ ]:
# # # 13. Create a comprehensive list for square upto 10

squares_lc = [(x,x**2) for x in range(1,11)]
print(squares_lc)

In [ ]:
# # # 14. Create the comprehensive list to find number divisible by 13 till 200
lc = [x for x in range(201) if x%13 == 0]
print(lc)

In [ ]:
# # # 15. Create the list which is divisible by 4 from 300 to 400
lc_res = [x for x in range(300,401) if x%4 == 0 ]
print(lc_res)

In [ ]:
# 16. Create a comprehensive list to generate list up to x, y as a number. 
# For example if x = 3 list will be x_list = [0,1,2] and y=2 then y_list =[0,1]
# Then generate a new list based on all combination of x and y.
# For example: if x = 1 and y =2 then x_list = [0] and y_list = [0,1]
# And output will be [[0,0],[0,1]]
# If x=2 and y = 2 then output will be [[0,0],[0,1][1,0],[1,1]]

x_range = int(input("Enter x range:"))
y_range = int(input("Enter y range:"))
x_list= [x for x in range(x_range)]
y_list = [y for y in range(y_range)]
print(x_list)
print(y_list)
res = [[x,y] for x in x_list for y in y_list] #consider as nested for 
print(res)

In [112]:
# 17. What is the difference between add and update methods in set?

set1 = {1,2,3,4}
set1.add(6)
print(set1)

set1.update([8,9])
print(set1)

{1, 2, 3, 4, 6}
{1, 2, 3, 4, 6, 8, 9}

In [114]:
# # 21. How to create empty set?
print(set())
print(type(set()))

set()
<class 'set'>

In [117]:
# 22. Create the set s1 and s2 and perform set operations like union, intersection, difference, set difference.
s1 = {1,2,3,4,5}
s2 = {2,5,7,9,10}

In [118]:
#union 
# res = s1.union(s2)
# or
res = s1 | s2
print(res)

{1, 2, 3, 4, 5, 7, 9, 10}

In [119]:
# #intersection
# res1=s1.intersection(s2)
res1 = s1&s2
print(res1)

{2, 5}

In [120]:
# #difference
res2= s1.difference(s2)
# res2 = s1-s2
print(res2)

{1, 3, 4}

In [121]:
# #symmetric difference : niether in s1 nor in s2 like exclufing common in both
res3 =s1.symmetric_difference(s2)
print(res3)
# or
res4 = s1 ^ s2
print(res4)

{1, 3, 4, 7, 9, 10}
{1, 3, 4, 7, 9, 10}

In [122]:
# # 23. Create l2 as a list and perform set operation on s1 with l1
l1 = [11,12,13,14,15]
s1 = {1,2,3,4,5,13}
l2 = set(l1)

print(s1 | l2) #union
print(s1&l2) #intersection
print(s1-l2) #differnce
print(s1^l2) #symmetric_differnce

{1, 2, 3, 4, 5, 11, 12, 13, 14, 15}
{13}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 11, 12, 14, 15}

In [127]:
# # 24. Ask user to enter the name and DOB and generate the password based on first name 4 characters and @ddmm. 
# # For example name = SURESH and DOB = 05-05-1978 then password will be SURE@0505

name = input("Enter name-").upper()
dob1 = input("Enter date(dd-mm-yyyy)-")
psswrd = name[0:4] + '@' + dob1[0:2] + dob1[3:5] 
print(psswrd)
# or
print(name[:4]+'@'+dob1[:5].replace("-",""))

SALL@1506
SALL@1506

In [128]:
# # 25. Ask user to enter the name and DOB and generate the password based on first name 4 characters and
# #  last 4 digits of DOB or year @yyyy. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@1978

name = input("Enter name-")
dob1 = input("Enter date(dd-mm-yyyy)-")
psswrd = name[0:4] + '@'  + dob1[-4:] 
print(psswrd)

sads@1111

In [129]:
# 26. Create the format mentioned here.
# *
# * *
# * * *
# * * * *

for i in range(0,5):
    print(i*'*')

*
**
***
****

In [130]:
# 27. Create the format as mentioned below:

# ****
# ***
# **
# *

for i in range(5,0,-1):
    print(i*'*')

*****
****
***
**
*

In [29]:
# 28. Str_val = “ABCD” then create the format as mentioned below:
# A
# A B
# A B C
# A B C D

str1= 'SALLU'
for i in range(len(str1)):
    for j in range(i+1):
        print(str1[j],end= " ")
    print()

S
S A
S A L
S A L L
S A L L U

In [ ]:
# 29. Create the format mentioned below:
# A
# BB
# CCC
# DDDD

# str1 = "ABCD"
# for i in range(len(str1)):
#     for j in range(i+1):
#         print(str1[i], end =" ")
#     print()

# or
for i in range(len(str1)):
    print(str1[i]* (i+1) )

In [ ]:

# 30. Create the format mentioned below:
# 1
# 22
# 333
# 4444

for i in range(4):
    for j in range(i+1):
        print(i+1,end=" ")
    print()

In [ ]:
# 31. Val = “ABCD” based on the Val, create the format mentioned below
# D
# DC
# DCB
# DCBA
# val = "ABCD"

for i in range(len(val)-1, -1, -1):
    for j in range(len(val)-1, i-1, -1):
        print(val[j], end="")
    print()

In [133]:
# # 32. Ask user to enter the string. If string is UPGRAD then output must be
# # D
# # DA
# # DAR
# # DARG
# # DARGP
# # DARGPU

name = 'UPGRAD'
for i in range(len(name)-1,-1,-1):
  for j in range(len(name)-1,i-1,-1):
    print(name[j],end = "")
  print()

D
DA
DAR
DARG
DARGP
DARGPU

In [ ]:
## 33. Create a list of odd numbers from 1 to 10
# # 1. Using for loop
odd= []
for i in range(1,11):
    if i%2 != 0:
        odd.append(i)
print(odd)

In [ ]:
# # 2. Using comprehensive list

lc_odd = [x for x in range(1,11) if x%2 != 0 ]
print(lc_odd)

In [ ]:
# # 34. Create even number list using for loop from 200 to 250
lc_even = [ x for x in range(200,251) if x%2 == 0 ]
print(lc_even)

In [ ]:
# # 35. List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
# # Multiply each and every element by 2 and display the answer

List2 = [2 , 70 , 'work' , 'para' , 2.5, [1,2,3] , (1,2), {1,2} , {1:'a', 2:'b'}, 3, 10 , 302.5 ]
l1= [] 
for i in List2:
    if type(i) in [str,int,float,list,tuple]:
        l1.append(i*2)
    elif type(i) == set:
        # l1.append({x*2 for x in i})
        new_set = set()
        for x in i:
            new_set.add(x*2)
        l1.append(new_set)
    elif type(i) == dict:
        new_dict = {}
        for key in i:
            new_dict[key] = i[key] * 2
        l1.append(new_dict)
print(l1)

In [ ]:
# 37. Create a function to accept marks from user utilize exception concept to validate proper marks.
import sys 
marks = input("Enter marks:")
def ValidateMarks(marks):
    try:
        marks = float(marks)
        if marks > 100 or marks < 0:
            return "Invalid marks"
        else:
            print("Propermarks",marks)
            # print(x) #except block will execute
    except ValueError:
        return "value must be numeric"
    except:
        print(sys.exc_info())

ValidateMarks(marks)

Propermarks 33.0
(<class 'NameError'>, NameError("name 'x' is not defined"), <traceback object at 0x00000272AB111980>)

In [2]:
# 38. Create a function to validate user first name/last name. User first name/last name should contain only characters. 
# No special characters, numbers, space in name
# #function
# firstname= input("Enter firstname:")
# lastname = input("Enter lastname:")
# def ValidateName(firstname,lastname):
      
#       if (firstname.isalpha() and lastname.isalpha() and firstname.isdigit() and lastname.isdigit()):
#             return f"{firstname} {lastname}"
#       else:
#             return "Please enter proper format"
# print(ValidateName(firstname,lastname))

#exception 
import sys
firstname= input("Enter firstname:")
lastname = input("Enter lastname:")

def ValidateName(firstname,lastname):
    try:
        if not firstname or not lastname:
            raise Exception("Name cannot be empty")
        if not firstname.isalpha() or not lastname.isalpha() :
            raise Exception("Name should be in alphabets")
        return f"{firstname} {lastname}"
    
    except Exception as e:
        return f" invalid name :{e}"
    except :
        return sys.exc_info()
print(ValidateName(firstname,lastname))

 invalid name :Name should be in alphabets

In [7]:
# 39. Create a function to accept mobile number. Mobile number should contain 10 digits. 
# No Special character, alphabets and space.

# MobileNo = input("Enter Mobile number:")

# def ValidateMobileNumber(MobileNo):
#       if MobileNo.isdigit() and len(MobileNo) == 10 :
#             return f"Proper Mobile Number : {MobileNo}"
#       else:
#             return "Enter proper format"
      
# print(ValidateMobileNumber(MobileNo))

MobileNo = input("Enter Mobile number:")

def ValidateMobileNumber(MobileNo):
      try:
            if not MobileNo :
                  raise Exception("Mobile Number cannot be empty ")
            if not MobileNo.isdigit():
                  raise Exception("Mobile No must contain numbers")
            if len(MobileNo) != 10 :
                  raise Exception("Mobile number should not exceed 10 or cannot be less than 10")
            return f"Correct Mobile no: {MobileNo}"
      except Exception as e:
            return f"Error:{e}"
      
print(ValidateMobileNumber(MobileNo))

Error:Mobile number should not exceed 10 or cannot be less than 10

In [12]:
# # 40. Create a function to generate auto-password based on specific person details. Ask user to enter name, DOB.
# #  And password must be First name 4 characters and year of birth.
# firstname = input("Enter your name:")
# dob = input("Please enter your dob(dd-mm-yyyy):")
# def GeneratePassword(firstname,dob):
#       if firstname.isalpha() and len(dob) == 10 and dob[2]==dob[5]== '-':
#         password = firstname[0:4] +dob[6:10]
#         return password
#       else:
#             return "Enter proper format"
# print(GeneratePassword(firstname,dob))
# firstname = input("Enter your name:")
# dob = input("Please enter your dob(dd-mm-yyyy):")
# def GeneratePassword(firstname,dob):
#       if firstname.isalpha() and len(dob) == 10 and dob[2]==dob[5]== '-' and dob[:2].isdigit() and dob[3:5].isdigit() and dob[6:].isdigit():
#         password = firstname[:4] +dob[6:]
#         return password
#       else:
#             return "Enter proper format"
# print(GeneratePassword(firstname,dob))

firstname = input("Enter your name: ")
dob = input("Please enter your dob (dd-mm-yyyy): ")

def GeneratePassword(firstname, dob):
    try:
        if not firstname.isalpha():
            raise Exception("Name should contain only alphabets")
        if len(dob) != 10:
            raise Exception("DOB length is invalid")
        if dob[2] != '-' or dob[5] != '-':
            raise Exception("DOB format should be dd-mm-yyyy")
        if not (dob[:2].isdigit() and dob[3:5].isdigit() and dob[6:].isdigit()):
            raise Exception("DOB should contain only digits in date parts")
        password = firstname[:4] + dob[6:]
        return password
    except Exception as e:
        return f"Error: {e}"
print(GeneratePassword(firstname, dob))

Error: DOB should contain only digits in date parts

In [13]:
# 41. Create a empty dictionary and ask user to enter values as name, DOB, mobile number add all the details in dictionary with customer number as 1 
# for first time. If user try to enter another value, then number should increase as 2 with new details and previous values should not change.
# For example:
# {}
# {1:{name : "Sachin", "DOB": "21-06-1965" , "mobile": "1234123423"}}
# {1:{name : "Sachine", "DOB": "21-06-1965" , "mobile": "1234123423"},
# 2: {name : "Sumedh", "DOB": "02-02-2002" , "mobile": "1234123433"}}

dict1 ={}

In [4]:
Name1 = input("Enter your name:")
Dob1 = input("Enter your dob:")
MobileNumber = input("Enter your mobile number:")

def CustomerDetails(Name1,Dob1,MobileNumber):
     
  if len(dict1.keys()) == 0:
    dict1.update({1:{'Name': Name1, 'DOB' : Dob1, 'Mobile No:': MobileNumber}})
    return dict1
  else:
    n = len(dict1.keys()) + 1
    dict1.update({n:{'Name': Name1, 'DOB' : Dob1, 'Mobile No:': MobileNumber}})
    return dict1

CustomerDetails(Name1,Dob1,MobileNumber)

NameError: name 'dict1' is not defined

In [17]:
# 42. Based on the above example create the dictionary and save the same in a cust_info.txt or cust_info.log

In [ ]:
# 43. Based on the above example read the file cust_info.txt . check if dictionary any information is available in the file.
#  If there is information then read the dictionary store into one variable and then append new information of customer if added.

In [ ]:

# 44. Create a table cust_info as sr_no, name, DOB, mobile. Ask user to enter the information from python code. Validate all fields and after validation insert records in the table.

In [21]:

# 45. Dict1= {“Key”: {“subkey”:20} , “k2”:{“sub2” : 5}, “k3” : {“sub4” :16}, “k4” : {“sub4” : 6}}
# Sort elements based on values
# Output must be {, “k2”:{“sub2” : 5}, “k4” : {“sub4” : 6}, “k3” : {“sub4” : 16}, “Key”:{“subkey”:20}}

Dict1= {'Key': {'subkey':20} , 'k2':{'sub2' : 5}, 'k3' : {'sub4' :16}, 'k4' : {'sub4' : 6}}

sorted_dict = dict(
    sorted(
        Dict1.items(),
        key=lambda item: list(item[1].values())[0]
    )
)

sorted_dict

{'k2': {'sub2': 5},
 'k4': {'sub4': 6},
 'k3': {'sub4': 16},
 'Key': {'subkey': 20}}

In [ ]:
#46 Create a function to calculate age till now. 
from datetime import datetime

dob = input("Enter dob(dd-mm-yyyy):")
age = 0
def AgeCalculator(dob):
    birthday = datetime.strptime(dob,'%d-%m-%Y')
    today = datetime.today()
    age = today - birthday 
    return age
AgeCalculator(dob)

datetime.timedelta(days=9005, seconds=52350, microseconds=460541)

In [ ]:
#47 Create a function to check age eligibility for given customer based on DOB. Function will take two input DOB and ELIGIBILITY age.

In [ ]:
# Calculate total hours based on input signin and sign out time
# signIN = input ("Enter sign in:")
# signOUT = input("Enter signout")
# def CalculateHour(signIN,signOUT):
SignIn = input("Enter Sign-In time : (HH:MM)")
SignOut = input("Enter Sign-Out time : (HH:MM)")
 
t1 = datetime.strptime(SignIn, '%H:%M')
t2 = datetime.strptime(SignOut, '%H:%M')
 
Hours_Attended = t2 - t1
Hours_Attended
 
hours = Hours_Attended.seconds // 3600
minutes = (Hours_Attended.seconds % 3600) // 60
print(f"{hours} Hours, {minutes} Minutes")

In [25]:
#48 Create a function to check if string is palindrome or not ? For example, if input is NITIN then reverse of the string is same then it is palindrome. 
# If input is ANIL then reverse is LINA which is not same then it is not palindrome.   
str1 = input("Enter string")
def palin(str1):
    if str1== str1[::-1]:
        return "Palindrome"
    else:
        return "not palindrome"
palin(str1)

'not palindrome'

In [33]:
# 49.Create a function to generate a Fibonacci Series. 0 1 1 2 3 5 8 13 21 34 …..  upto 100  
a,b = 0,1
while a<=100:
    print(a,end=' ')
    c=a+b
    a=b
    b=c

0 1 1 2 3 5 8 13 21 34 55 89

In [43]:
#50. Write a code to generate factorial of the number  For example: factorial of 5 = 5! = 5*4*3*2*1 
fact = 1
n = int(input("Enter a number"))
if n == 1 or n== 0:
    print('facortial= 1')
else:
    for i in range(1,n+1):
        fact = fact*i
    print(fact)

facortial= 1

In [45]:
# 51.Write a program to find largest number in the list. 
L1 = [ 2,77,33,90,35]
Largest = L1[0]
for i in L1:
    if i > Largest:
        Largest = i
print(Largest)

90

In [ ]:
# 52.Write a program to check frequency of each element in the list.
l1 = [1,7,8,3,1,1,1,8]
frequency = {}
for i in l1:
    if i in frequency:
        frequency[i] += 1
    else:
        frequency[i] = 1
print(frequency)

{1: 4, 7: 1, 8: 2, 3: 1}

In [ ]:
# 53. There are two string l1 =[ 1,2,3,4,5] and l2 =[3,2,8,7,9] then write a program to find common elements in the list. 

l1 = [1,2,3,4,5]
l2 = [3,2,8,7,9]

s1=set(l1)
s2=set(l2)
list(s1.intersection(s2) )

[2, 3]

In [11]:
n = int(input('how many menu items:'))
total_cost = 0 
print('-'*90)
print("|{:^88}|".format(f'Welcome RadhaKrishn Hotel'))
print('-'*90)
print('|{:<20} {:<20} {:<20} {:>25}|'.format("Sr","Menu","quantity","price"))
print('-'*90)
for sr_no in range(1,n+1):
    menu = input("Enter item you want:")
    qunt = int(input("Enter quantity:"))
    price = float(input("Enter price"))
    total_per_item = qunt*price
    total_cost = total_cost + total_per_item
    print('|{:<20} {:<20} {:<20} {:>25}|'.format(sr_no,menu,qunt,total_per_item))
print('-'*90)
print('|{:<60}{:>28}|'.format("Total",total_cost))
print('-'*90)

------------------------------------------------------------------------------------------
|                               Welcome RadhaKrishn Hotel                                |
------------------------------------------------------------------------------------------
|Sr                   Menu                 quantity                                 price|
------------------------------------------------------------------------------------------
|1                    Mysore Masala Dosa   1                                         90.0|
|2                    Sprout Salad         2                                         60.0|
------------------------------------------------------------------------------------------
|Total                                                                              150.0|
------------------------------------------------------------------------------------------